<div class="container">
	<div class="row">
		<div class="page-header">Reserva realizada</div>
		<div class="row">
			Su reserva ya se ha generado, le llegará un mail a <%= current_user.email %> con la información para completar su compra.
		</div>


	</div>

</div>