
	<p>
	Se generó la reserva para <%=link_to Reserva.find(activity.trackable_id).user_evento.evento.name, mostrar_evento_path(Reserva.find(activity.trackable_id).user_evento.evento) %>,
	recibirá un email en 
	<small>
	<%= current_user.email %>
	</small>
	 con la información para completar su compra.
	</p>
