    <!-- Page Content -->
    <div class="container">

        <!-- Eventos -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Eventos</h2>
            </div>

            <!-- Creando las ventanitas de evento -->
            <% @eventos.each do |evento| %>
                <div class="col-lg-4 col-sm-6 text-center">
                    <!-- Hipervinculo en la imagen, si no hay dejamos un placeholder-->
                    <!-- Editar el placeholder para version final -->
                    <a href="<%= mostrar_evento_path(evento) %>">

                    <img class="img-square img-responsive img-center" src="
                        <% if evento.imagen.present? %>
                            <%= evento.imagen %>
                        <% else %>
                            http://placehold.it/200x200
                        <% end %> 
                   " alt="">
                    </a>
                    <h3><%= evento.nombre %> </h3>
                    <p> <%= evento.desc %> </p>
                </div>
            <% end %>
            </div>
        </div>

        <hr class="container">

        <!-- Footer -->
        <footer class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Carryvent 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
