Eventos Publicados

<% @eventos.each do |evento| %>
	<div>
		Titulo:
		<%= evento.name %>
		Descripcion
		<%= evento.subtitle %>
		<%=link_to "Editar", editar_evento_path(evento) %>
	</div><br>
<% end %>
