/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require carpool
 *= require evento
 *= require notifications
 *= require organization
 *= require round-about
 *= require styles
 *= require user
 *= require_self
 *= require bootstrap
 *= require font-awesome
 *= require bootstrap-social
 */

/*Botones barra*/
#botonesBarra{
  max-width: 200px;
  background-color: #ff8000;
}

#nombreUsuario{
  padding-bottom: 8px;
  padding-top: 7px;
}

#botonesBarraLogueado{
  max-width: 350px;
  background-color: #ff8000;
  border:10px;
}

@media(max-width:767px) {
  #bs-example-navbar-collapse-1{
    position:absolute;
    right: 1px;
  }
}

.contenido{
  min-height: 100%;
  max-height: auto;
}

.footer{
  background-color: #ff8000;
  padding-bottom: 30px;
  margin: 0px;
  text-align: center;
  color: #fff;
}