/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require index
 *= require notifications
 *= require publicacion
 *= require registro
 *= require upload-preview
 *= require user
 *= require_self
 *= require bootstrap
 *= require font-awesome
 *= require bootstrap-social
 */

/*Parte de usuario navbar*/
#nombreUsuario{
  padding-bottom: 8px;
  padding-top: 7px;
}

#botonesBarraLogueado{
  max-width: 350px;
  background-color: #ff8000;
  border:10px;
}

/* Para que el navbar no se pege */
html, body {
  height: 100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom:40px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -30px; /* negative value of footer height */
  height: 30px;
  clear:both;
  padding-top:20px;
} 