// Place all the styles related to the carpool controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.border-row {
    border-bottom: 1px solid #727272;
}

.carpool-container{
	height: 300px;
	  background-color: #fff5f0;
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
	position:relative;
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px; 
	overflow-y: auto;
}
.tabla-carpools{
    border-collapse: collapse;
    width: 100%;
}

.tabla-carpools th,
.tabla-carpools td{
	border: 1px solid orange;
	text-align: center;
}

.peticiones-container{
	height: 100px;
	  background-color: #fff5f0;
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
	position:relative;
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px; 
	overflow-y: auto;
	text-align: center;
}

.asientos-container{
	height: 120px;
	width: 150px;
	  background-color: #fff5f0;
  	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
	position:relative;
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px; 
	text-align: center;
}