// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  text-align: justify;
}

.notificationsList {
    width: 400px;
    height: 600px;
    background: white;
    position: absolute;
    overflow-y: scroll; 
    display: none;
}

.orange .active a,
.orange .active a:hover {
    background-color: #FF8000  !important;
}