// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity {
  border-bottom: solid 1px #CCC;
  padding: 16px 0;
  em {
    color: #777;
    font-size: 12px;
    padding-left: 5px;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> fd7812942d71eb4bf8bf17d10db15d14e3eb1a7b
