// Place all the styles related to the organization controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upload-preview{
	width:200px;
	height:200px;
	background-color:white;
	background:url("http://placehold.it/200/200");
}