<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Se ha realizado la compra de tu(s) pasaje(s)</h1>
    <p> <b>Informacion:</b> </p>
    <p> Evento : <%=@evento.name %> </p>
    <p> Cantidad de asientos : <%= @reserva.amount %> </p>
    <p> Asientos :<%= @reserva.pasajes.select("asiento").map(&:asiento).to_sentence %></p>
    <p> Monto: monto </p>
    <p><b>Código pasaje:</b> código pasaje <br></p>
    <p><b>Código QR:</b> código QR <br></p>
    <% @reserva.pasajes.each do |r| %>
    <% qr = RQRCode::QRCode.new( r.codigo, :size => 4, :level => :h ) %>
    <% @png = qr.to_img.resize(200,200).to_data_url %>
    <%= image_tag @png %>
    <% end %>
    <p><b>Paradero:</b> paradero <br></p>
    <p><b>Horario:</b> hora <br></p>
    <p>Gracias por utilizar Carryvent</p>
  </body>
</html>
