<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      .tabla-pasaje{
        border-collapse: collapse;
        width: 100%;
      }

      .tabla-pasaje th,
      .tabla-pasaje td{
        border: 1px solid orange;
        text-align: center;
      }
      .image-size {
        max-width: 30px;
        max-height: 20px;
      }

    </style>
  </head>
  <body>
    <div id="content">


      <h3><%= image_tag(attachments['photo1.png'].url) -%>Gracias por reservar tu pasaje con Carryvent.</h3>


      <table  style="width:50%" class="tabla-pasaje">
      <tr>
        <th>Evento</th>
        <th>Cantidad de asientos</th>
        <th>Asiento(s)</th>
        <th>Válido hasta</th>
        <th>Monto a cancelar</th>
      </tr>
      <tr>
        <td><%= @evento.name %></td>
        <td><%= @reserva.amount %></td>
        <td><%= @reserva.pasajes.select("asiento").map(&:asiento).to_sentence %></td>
        <td><%= @reserva.ttl.to_s(:short) %></td>
        <td><%= @reserva.user_evento.evento.bus.price*@reserva.amount %></td>
      </tr>
      </table>

      <p>Para completar su compra siga las siguientes instrucciones:</p>
      <p>1) Realice el depósito o transferencia online a los siguientes datos </p>

      <table class="tabla-pasaje" style="width:50%" >
      <tr>
        <th>Nombre</th>
        <th>Rut</th>
        <th>Cuenta</th>
        <th>Banco</th>
      </tr>
      <tr>
        <td>Persona Carryvent</td>
        <td>Rut Carryvent</td>
        <td>Cuenta Carryvent</td>
        <td>Banco Carryvent</td>
      </tr>
      </table>

      <p>2) Envie un mail a <%= @evento.publicador.email %> con el comprobante de pago</p>
      <p>3) Espere sus pasajes </p>

      <p>Gracias por utilizar Carryvent</p>
<%= image_tag(attachments['photo.png'].url, :size => '200x100') -%>
    </div>


  </body>
</html>