
<h1>Notificaciones</h1>

Últimas actividades:
<% @activities.each do |activity| %>
  <div class="activity">
  <%= link_to activity.owner.name, activity.owner if activity.owner %>

  </div>
<% end %>


