<div class="container">

  <div class="col-md-5 col-md-offset-4">
	<h1>Notificaciones</h1>

	Últimas actividades:
	<% @activities.each do |activity| %>
	  <div class="activity">
	  <%= render_activity activity%>

	  </div>
	<% end %>
	</div>
</div>


