<!-- Page Content -->    
<div class="container-fluid">
    <div id="homeLanding" class="row">
    	<!-- <h1>AQUI</<h1></h1>>
    	<h1>SE PUEDE</h1>
    	<h1>PONER</h1>
    	<h1>TEXTO</h1> -->
    </div>
     
    <!-- ¿Qué es Carryvent? -->
    <div id="queQuienes" class="row" >
            <div class="col-xs-12 col-md-6">
                <h2>¿Qué es Carryvent?</h2>
                <p align="justify" style="text-indent: 25px">Carryvent es la solución para las personas que asisten a eventos masivos, proporcionando transporte de ida y vuelta. Será el nexo con el servicio de buses y los usuarios, dando la oportunidad de juntarse en grupos de amigos para asistir a los eventos. Además, tendremos un espacio reservado para los que viajan solos en sus autos particulares, donde podrán realizar una publicación de carpool.</p>
            </div>

    <!-- ¿Quienes somos? -->
            <div class="col-xs-12 col-md-6">
                <h2>¿Quienes somos?</h2>
                <p align="justify" style="text-indent: 25px">Somos un equipo de cuatro compañeros de Informática, de la Universidad Técnica Federico Santa María, Valparaíso. Que se preocupa por la seguridad de las personas que no tienen como trasladarse cuando asisten a eventos masivos. Por esta razón, es que decidimos aventurarnos en este proyecto y crear “Carryvent”.</p>
            </div>
    </div>

</div>
<!-- Landing -->


