<!-- Page Content -->    
<div class="container-fluid">
    <div id="homeLanding" class="row">
    	<!-- <h1>AQUI</<h1></h1>>
    	<h1>SE PUEDE</h1>
    	<h1>PONER</h1>
    	<h1>TEXTO</h1> -->
    </div>
     
    <!-- ¿Qué es Carryvent? -->
    <div class="row" >
        <div class="col-xs-12">
            <div class="col-xs-6">
                <h2>¿Qué es Carryvent?</h2>
                <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus placerat per.</p>
            </div>

    <!-- ¿Quienes somos? -->
            <div class="col-xs-6">
                <h2>¿Quienes somos?</h2>
                <p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per. In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus placerat per.</p>
            </div>
        </div>
    </div>

</div>
<!-- Landing -->


