    <!-- Page Content -->
    <div class="container">

        <!-- Perfil -->
        <div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-12 col-sm-4 text-center">
								<img src="
                                <% if @user.foto.present? %>
                                    <%= @user.foto + "?type=large" %>
                                <% else %>
                                    http://sintoniageek.com/wp-content/uploads/2011/03/avatar-facebook-defecto1.jpg
                                <% end %>       
                                    " alt="" class="center-block img-responsive">
					<!--			<ul class="list-inline ratings text-center" title="Ratings">
									<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
									<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
									<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
									<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
									<li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
								</ul> -->
							</div><!--/col--> 
	                      
							<div class="col-xs-12 col-sm-8">
								<div> 
										
									</div>
								<h2><%= @user.nombre %></h2>
								<p><strong>Ciudad: </strong> <%= @user.ciudad %> </p>
								<p><strong>E-mail: </strong> <%= @user.email %> </p>

								<a href="#" class="btn btn-primary" style="float:right;"><i class="glyphicon glyphicon-edit"></i> Editar Perfil</a>
									<!-- btn btn-lg btn-primary btn-block-->


								<!--
								<p><strong>Gustos: </strong>
									<span class="label label-info tags">Metal</span> 
									<span class="label label-info tags">Rock</span>
								</p>
								-->

							</div><!--/col-->            
						</div><!--/row-->
					</div><!--/panel-body-->
				</div>
			</div>
		</div>

        <hr class="container">

        <!-- Footer -->
        <footer class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Carryvent 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
